
RewriteEngine On
RewriteRule ^index\.html$ / [R=301,L]
RewriteRule ^(.*)/index\.html$ /$1/ [R=301,L]



# add file extensions
RewriteEngine on
RewriteRule ^home/$ /index.html [R=301,L]
RewriteRule ^skills/$ /myskills.html  [R=301,L]
RewriteRule ^portfolio/$  /portfolio.html   [R=301,L]
RewriteRule ^contact/$  /contact.html   [R=301,L]